/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--themeGray);
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
/* root styles */
:root {
  --themeColor: #111022;
  --themeGray: #a1aac9;
  --themeBase: #426bff;
  --themeBorder: #3c3c77;
  --cardBackground: #1e1e42;
  --themeBgMain: #15152c;
}
/* default styles */
body {
  background-color: var(--themeColor);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
p {
  color: var(--themeGray);
}
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  outline: none !important;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 11px 30px 11px;
  border-radius: 8px;
  background: linear-gradient(211deg, #8f79ff 13.4%, #426bff 118.74%);
  box-shadow: 0px 20px 24px -10px #0b042f;
  background-size: 200% auto;
  font-family: var(--thm-font-two);
  transition: all 0.5s linear;
  overflow: hidden;
  z-index: 1;
  border: none;
  outline: none;
}
.section {
  max-width: 1350px;
  margin: 0 auto;
}
section {
  padding: 50px 0px;
}
/* Navbar styles */
header {
  border-bottom: 1px solid var(--themeBorder);
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--themeColor);
  z-index: 999;
}
#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#navBar .navigationLinks {
  display: flex;
  align-items: center;
  gap: 25px;
}
#navBar .navigationLinks li {
  cursor: pointer;
}
#navBar .navigationLinks li a {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
#navBar .navigationLinks li a:hover {
  transition: all 0.3s;
  color: var(--themeBase);
}
#hamburger {
  color: var(--themeGray);
  font-size: 20px;
  display: none;
  cursor: pointer;
}
#hamburgerClose {
  color: var(--themeGray);
  font-size: 20px;
  display: none;
  cursor: pointer;
}
/* Banner */
#banner {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#banner .headingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.exploreNow button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
/* about */
.sectionTitle {
  border-bottom: 3px solid var(--themeBase);
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 50px;
}
.aboutDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Terms */
.termsContainer h3 {
  margin-bottom: 10px;
  color: gainsboro;
}
.termsContainer p {
  margin-bottom: 20px;
}
hr {
  height: 2px;
  background-color: var(--themeBase);
  border: none;
}
/* contact section */
#contactContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#contactForm {
  width: 100%;
  border: 1px solid var(--themeBorder);
  border-radius: 6px;
  padding: 50px;
  background-color: var(--themeBgMain);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactLeft ul {
  margin-top: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactLeft ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.contactLeft ul li:nth-child(2) {
  color: var(--themeGray);
}
.formElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.formElement label {
  color: var(--themeGray);
}
.formElement input,
.formElement textarea {
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--themeBorder);
  padding: 10px;
  background-color: transparent;
  height: 50px;
  color: white;
  font-size: 14px;
}
.formElement textarea {
  height: 120px;
  resize: none;
}
::placeholder {
  color: var(--themeGray);
}
/* products */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.product {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--themeBorder);
  /* height: 550px; */
  background: url("./images/sectionbackground.png");
  background-position: center;
  background-size: cover;
  padding: 5px;
  color: white;
  transition: all 0.5s;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  min-height: 450px;
  max-height: 450px;
}
.product:hover {
  border: 1px solid var(--themeBase);
}
.productRight {
  width: 100%;
  min-height: 100%;
  border: 1px solid var(--themeBorder);
  border-radius: 10px;
  background-color: var(--cardBackground);
  padding: 5px;
  overflow: hidden;
}
.productRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.product:hover .productRight img {
  transform: scale(1.1);
}
.productLeft .productLeftTop {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.productLeft .productLeftTop h2 {
  font-size: 32px;
}
.productLeftUl {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--themeGray);
}
.productLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.actionButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
.actionButtons button {
  cursor: pointer;
}
.actionButtons button {
  transition: all 0.3s;
}
.actionButtons button:hover {
  transform: scale(0.9);
}
.productPrice {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* product details page */
#productDetails {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.detailsTop {
  display: flex;
  gap: 50px;
  height: 450px;
}
.detailsTop .detailsImage {
  flex: 1;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.detailsTop .detailsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailsTop .detailsAction {
  width: 400px;
  border: 1px solid var(--themeBorder);
  border-radius: 10px;
  background-color: var(--cardBackground);
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 200px;
}
.detailsTop .detailsAction a {
  width: 100%;
  display: block;
  width: 100%;
  cursor: pointer;
}
.detailsTop .detailsAction a button {
  width: 100%;
  cursor: pointer;
}
.detailsMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 60%; */
  text-align: justify;
}
.productDetailsAction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productDetailsAction button {
  transition: all 0.3s;
}
.productDetailsAction button:hover {
  transform: scale(0.9);
}
.detailsDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* popup */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  z-index: 999;
  height: 100vh;
  transition: all 0.3s;
}
#popup .detailsForm {
  margin-top: 150px;
  transition: all 0.5s;
}
#popupClose {
  color: white;
  cursor: pointer;
}
/* Responsive part */
@media screen and (max-width: 1400px) {
  .section {
    width: 100%;
    padding: 0 10px;
  }
  #navBar .navigationLinks {
    transform: translateX(100%);
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--themeColor);
    border-left: 1px solid var(--themeBorder);
    height: 100vh;
    width: 50%;
    padding: 20px 20px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s;
  }
  #hamburger {
    display: block;
  }
  #hamburgerClose {
    display: block;
  }
  #contactForm {
    max-width: 100%;
  }
  .product {
    height: 700px;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
  }
  .detailsTop {
    flex-direction: column;
    height: 600px;
  }
  .detailsTop .detailsAction {
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  #contactContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  #productHeading {
    font-size: 24px;
    margin-top: 20px;
  }
}
